<style>

sasasasasa {
  width: 1000px;
  margin: 0 auto;
  padding: 0;  
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


button {

    background-color: #3399ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49.5%;
}

button .dropbtn{
    background-color: #f1f1f1;
    color: black;
}

button .dropbtn :hover {
    background-color: #2488eb;
}

ul {
	font-family: "Arial", Times, serif;
	border: 2px solid #f1f1f1;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #3399ff
}

li a:hover, .dropdown:hover .active:hover .dropbtn {
    background-color: #2488eb;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.sign-bar {
    background-color: #2488eb;
}

sign-bar:hover {
    background-color: #3399ff;
}

.main-page {
        margin: 10px 25% 0 25%;
}

.box {
    float: center;
    width : 100%;
    height: 350px;
    background-color: #1e2d44;   
}

.signing-bt :hover {
    background-color: #2488eb;
}

.signing-bt {
    background-color: #2488eb;
}
.signing-bt {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 43%;
}

.signing {
    text-align: left;
    font-family: "Arial", Times, serif;
    margin: 10px 0 0 0;
    float: center;
    border: 20px solid #f1f1f1;
    width : 500px;
    height: auto;
    background-color: #f1f1f1;
}

.redbox {
    text-align: left;
    font-family: "Arial", Times, serif;
    font-weight: bold;
    margin: 200px 0 0 0;
    float: center;
    font-size: 30;
    color: #f1f1f1;
    border: 20px solid #d00000;
    width : auto;
    height: auto;
    background-color: #d00000;
    position: absolute;
    top: 15%;
    left: 45%;
}

.container {
    
}

p1 {
    float:left;
    color: #f1f1f1;
    margin: 10px 50px 0 50px;
    font-size: 28px;
    font-family: "Arial", Times, serif;
}

.right {
    float:right;
    color: #f1f1f1;
    margin: 20px 28% 200px 0;
    font-size: 28px;
    font-family: "Arial", Times, serif;
}

.left {
    float: left;
    text-align: left;
    color: #f1f1f1;
    margin: 0px 0 200px 28%;
    width: 450px;
    font-size: 20px;
    font-family: "Arial", Times, serif;
}

.block-title {
    color: #414141;
}

.box1 {
    float: center;
    width : 50%;
    height: 350px;
    background-color: #1e2d44;   
}

.b {
    float: center;
    width : 55%;
    height: 2000px;
    background-color: #1e2d44;   
}

</style>